.cat {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cat img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.cat h1 {
    font-size: 24px;
    color: #f08080;
}

.cat p {
    font-size: 16px;
    line-height: 1.5;
}